@model WeddingFinder.Models.Content;

<div class="container">
    <h2>@ViewBag.Title</h2>
    <br />
    <p>
        @Model.Body1
    </p>
    <p>
        @Model.Body2
    </p>
    <p>
        @Model.Body3
    </p>
</div>
    

