
@{
    ViewData["Title"] = "ThankYou";
}
<div class="container-fluid whyList">
    <div class="container whyListContainer">
        <div class="whyListTitle">
            Thank You!
            <hr />
        </div>
        <div class="whyListBody">
            Your application for the Wedding Finder has been submited. Our team will notify you once your page is live!
        </div>
        <div class="whyListBody">
            You will be notified by email confirming your submission. If you do not receive an email confirming your submission, then you may enquire through our Contact Us page.
            Once we have approved your submission, we will notify you again whether it has been accepted.
        </div>
    </div>
</div>

