@{
    ViewData["Title"] = "The Wedding Finder";
}
<div class="container-fluid">
    <div class="homeTitle">
        We are The Wedding Finder,
    </div>
    <div class="container-fluid" style="background-color:#F7F5F1">
        <div class="container homeInfo">
            your one stop seek and find wedding supplier.
            From start-up businesses, to niche concepts and ideas, to endless venues and decor inspiration.

            We are here to make your wedding planning experience a breeze.
            Sit back and grab a glass of bubbly and start finding your dream wedding.
        </div>
    </div>
</div>

<div class="container-fluid no-gutters" style="padding:0px">
    <div style="font-family:'Raleway',sans-serif;font-size:22pt;text-align:center;padding-top:20px;padding-bottom:10px;background-color:#F7F5F1">
        Explore By Category
    </div>
    <div class="categoryCarouselParent">
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Cakes.JPG" class="img-fluid mx-auto d-block" alt="img1">
                <div class="categoryImgLbl">
                    Cakes
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Cars.JPG" class="img-fluid mx-auto d-block categoryCarousel" alt="img2">
                <div class="categoryImgLbl">
                    Cars
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="/Dresses">
                <img src="\images\Categories\Dresses.JPG" class="img-fluid mx-auto d-block categoryCarousel" alt="img1">
                <div class="categoryImgLbl">
                    Dresses
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Cakes.JPG" class="img-fluid mx-auto d-block" alt="img1">
                <div class="categoryImgLbl">
                    Cakes
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="/Dresses">
                <img src="\images\Categories\Cars.JPG" class="img-fluid mx-auto d-block categoryCarousel" alt="img2">
                <div class="categoryImgLbl">
                    Cars
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Dresses.JPG" class="img-fluid mx-auto d-block categoryCarousel" alt="img1">
                <div class="categoryImgLbl">
                    Dresses
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Cakes.JPG" class="img-fluid mx-auto d-block" alt="img1">
                <div class="categoryImgLbl">
                    Cakes
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Cars.JPG" class="img-fluid mx-auto d-block categoryCarousel" alt="img2">
                <div class="categoryImgLbl">
                    Cars
                </div>
            </a>
        </div>
        <div class="categoryCarousel">
            <a href="">
                <img src="\images\Categories\Dresses.JPG" class="img-fluid mx-auto d-block categoryCarousel" alt="img1">
                <div class="categoryImgLbl">
                    Dresses
                </div>
            </a>
        </div>
    </div>
</div>
