@{
    ViewData["Title"] = "The Wedding Finder";
}
<div class="row no-gutters">
    <div class="col-2">

    </div>
    <div class="col-8">
        <div class="row no-gutters categoriesImgRow">
            <div class="col-3 categoriesImages logo socialIcons rounded-circle" style="opacity:0.8;background-image:url('/images/icons/flowersPhoto1.png');min-height:240px;max-height:240px;min-width:240px;max-width:240px;">
                <center>
                    <a href="/">
                        <!--img alt="Instagram" title="Instagram" src="~/images/Icons/flowersPhoto1.png" class="logo socialIcons rounded-circle" align="middle" />-->
                    </a>
                    <h3 style="color:white;padding-top:180px;font-weight:600;opacity:initial;">
                        Venues
                    </h3>
                </center>
            </div>
            <div class="col-3 categoriesImages">
                <center>
                    <a href="/">
                        <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="logo socialIcons rounded-circle" align="middle" style=";min-height:240px;max-height:240px;min-width:240px;max-width:240px;" />
                    </a>
                    <h5>
                        Flowers
                    </h5>
                </center>
            </div>
            <div class="col-3 categoriesImages">
                <center>
                    <a href="/">
                        <img alt="Instagram" title="Instagram" src="~/images/Icons/1.png" class="logo socialIcons" align="middle" />
                    </a>
                </center>
            </div>
            <div class="col-3 categoriesImages">
                <center>
                    <a href="/">
                        <img alt="Instagram" title="Instagram" src="~/images/Icons/1.png" class="logo socialIcons" align="middle" />
                    </a>
                </center>
            </div>
        </div>
        <div class="row no-gutters categoriesImgRow">
            <div class="col-4 categoriesImg">
                <center>
                    <a href="/">
                        <img alt="Instagram" title="Instagram" src="~/images/Icons/1.png" class="logo socialIcons" align="middle" />
                    </a>
                </center>
            </div>
            <div class="col-4 categoriesImg">
                <center>
                    <a href="/">
                        <img alt="Instagram" title="Instagram" src="~/images/Icons/1.png" class="logo socialIcons" align="middle" />
                    </a>
                </center>
            </div>
            <div class="col-4 categoriesImg">
                <center>
                    <a href="/">
                        <img alt="Instagram" title="Instagram" src="~/images/Icons/1.png" class="logo socialIcons" align="middle" />
                    </a>
                </center>
            </div>
        </div>
    </div>
    <div class="col-2">

    </div>
</div>
