@{
    ViewData["Title"] = "The Wedding Finder";
}
<div style="font-family:'Raleway',sans-serif;font-size:22pt;text-align:center;padding-top:20px;padding-bottom:10px;background-color:#F7F5F1">
    We are The Wedding Finder,
</div>
<div class="container" style="background-color:#F7F5F1">
    your one stop seek and find wedding supplier.
    From start-up businesses, to niche concepts and ideas, to endless venues and decor inspiration.

    We are here to make your wedding planning experience a breeze.
    Sit back and grab a glass of bubbly and start finding your dream wedding.
</div>
<div style="font-family:'Raleway',sans-serif;font-size:22pt;text-align:center;padding-top:20px;padding-bottom:10px;background-color:#F7F5F1">
    Explore By Category
</div>
<div class="row no-gutters categoriesImgRow">
    <div class="col-2">

    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Venues</div>
            </a>
        </center>
    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Flowers</div>
            </a>
        </center>
    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Music</div>
            </a>
        </center>
    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Photography</div>
            </a>
        </center>
    </div>
    <div class="col-2">

    </div>
</div>
<div class="row no-gutters categoriesImgRow">
    <div class="col-2">

    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Venues</div>
            </a>
        </center>
    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Flowers</div>
            </a>
        </center>
    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Music</div>
            </a>
        </center>
    </div>
    <div class="col-2 categoriesImages">
        <center>
            <a href="/">
                <img alt="Instagram" title="Instagram" src="~/images/icons/flowersPhoto1.png" class="rounded-circle img-fluid" align="middle" />
            </a>
            <a href="/">
                <div class="categoryImgLabel">Photography</div>
            </a>
        </center>
    </div>
    <div class="col-2">

    </div>
</div>
